api/*-wallet
api/node-modules/
api/config/connection-*
api/dist/
api/src/*.txt

api/.env
api/*.txt
artifacts/channel/crypto-config/
artifacts/channel/*.tx
artifacts/channel/*.block
artifacts/src/nsdm_cc/dist/
artifacts/src/nsdm_cc/node_modules/
channel-artifacts/*.block
testing_ibe_abe/dist/
testing_ibe_abe/node_modules/
testing_ibe_abe/.env
testing_responsetime/filepdf_testing/
testing_responsetime/hasil 1/
testing_responsetime/hasil_250624/
testing_responsetime/hasil_non_enc/
testing_responsetime/hasil_responsetime/
testing_responsetime/*.txt
testing_responsetime/*.pdf
ui/.next/
ui/node_modules/
*.txt
*.tar.gz



